extends layout

append stylesheets
    link(rel='stylesheet' href="/stylesheets/chat.css")

block content
    div(ng-controller="chatController")
        .wrapper
            .container
                .left
                    .top
                        ul.tab
                            li.conversations(ng-click="changeTab(1)")
                                a(ng-class="{active: activeTab ===1}")  Chatlar
                            li.onlineUsers(ng-click="changeTab(2)")
                                a(ng-class="{active: activeTab ===2}")  Tarmoqda

                    .tabArea
                        .tab-left(ng-show="activeTab === 1")
                            ul.people
                                li.person(
                                    ng-repeat="room in roomList",
                                    ng-click="switchRoom(room)"
                                )
                                    span.name  {{ room.name }}

                        .tab-right(ng-show="activeTab === 2")
                                ul.people
                                    li.person(ng-repeat="user in onlineList")
                                        img(ng-src="{{ user.meta.profilePhotoUrl }}")
                                        span.name {{ user.meta.name }} {{ user.meta.surname }}
                                        //- span.preview Juda hayron qoldim...
                    .bottom
                        button(ng-click="newRoom()") Yangi Xona
                .right(ng-show="chatClicked")
                    .top
                        span
                            span.name {{ chatName }}
                    .chat.active-chat
                        .bubble.you
                            span David Beckham
                            | Salom meni eshitayapsizmi?
                        .bubble.you
                            span David Beckham
                            | Men sizning muxlisingizman
                        .bubble.me ... uzr sizni tanimayman.
                        .bubble.me Jiddiymisiz?
                        .bubble.you
                            span David Beckham
                            | Ha chindan Davidman...
                        .bubble.you
                            span David Beckham
                            | Football afsonasi
                    .write
                        input(type='text' placeholder='Xabarni yozing...')
                        a.write-link.send(href='javascript:;')

append javascripts
    script(src="http://localhost:3000/socket.io/socket.io.js")
    script(src="/javascripts/controller/chatController.js")